@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i');

/* Colors */
$maincolor: #000000;
$white: #fff;
$ex_price: #7b7b7b;

/* Header colors */

$nav: #fff;
$count: #2fd334;
$submenu: #efefef;

$uitgelichtpadding: 62px 15px 0px 15px;

/* Footer */

$footerlink: #BAB7B7;
$footercolor: #BAB7B7;

/* Nav Tabs */
$bordercolor: #d9d9d9;


/* Extends */

%font {
	font-family: 'Source Sans Pro', sans-serif;
}

%transition {
	transition-duration: 0.2s;
	animation-duration: 0.2s;
}

%sub_menu_in {
	animation: subIn;
 	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	}
	
%hamburgerfirst {
	animation: hamburgerfirst;
 	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	animation-delay: 0.1s;
	}
	
%hamburgermiddle {
	animation: hamburgermiddle;
 	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	}
	
%hamburgerlast {
	animation: hamburgerlast;
 	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	animation-delay: 0.1s;
	}
	
	%cart_menu_in {
	animation: cartIn;
 	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	}
	%cart_menu_out {
	animation: cartOut;
 	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	}
%sub_menu_out {
	animation: subOut;
 	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	}
	
%upactivated {
	animation: upActivated;
 	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	}

%down{
	animation: down;
 	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	}
	
%fontspace {
	animation: fontspace;
 	animation-duration: 2s;
	animation-fill-mode: forwards;
}

%ui-control {
	color: #ececec;
	display: block;
	width: 25px;
	height: 25px;
	transform: rotate(-45deg);
	border: 2px solid #ececec;
	text-align: center;
}

%productimage {
	width: 100%;
	min-height: 250px;
	background-repeat: no-repeat !important;
	background-size: 80% auto !important;
	background-position: center center!important;	
}

%productimage_tabs {
	width: 100%;
	min-height: 144px;
	background-repeat: no-repeat !important;
	background-size: 80% auto !important;
	background-position: center center!important;	
	margin-bottom: 10px;
}
	
/* SCSS */

body {
	backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @extend %font;
    a {
	    color: $maincolor;
	    &:hover {
		    color: lighten($maincolor, 20%);
		    text-decoration: none;
	    }
    }
    ::selection {
	    background:black;
	    color:white;
    }
}

.clearfix {
	  clear:both;
	}

.nav {
	@extend %font;
	background: $nav;
	.row {
		display: flex;
		height: 98px;
		align-items: center;
		.branding {
			img {
				max-width: 100%;
			}
		}
		.categorie {
			ul {
				display: table;
			    text-align: center;
			    width: 100%;
			    margin: 0px;
			    padding: 0px;
			    ul {
				    @extend %sub_menu_out;
				    position: absolute;
				    background: $submenu;
				    width: auto;
				    z-index: 8888;
				    text-align: left;
				    z-index: 999;
				    margin-top:30px;
				    padding:15px 30px 15px 15px;
				    border-radius: 2px;
				    visibility: hidden;
				    pointer-events: none;
				    transition-duration: 0.2s;
				    animation-duration: 0.2s;
				    li {
					    width:150px;
					    float: left;
					    position: relative;
					    padding: 4px 15px;
					    &:before {
						    @extend %transition;
						    content: '\f105';
						    position: absolute;
						    width: 6px;
						    height: 8px;
						    left: 0px;
						    top: 4px;
						    font-family: fontAwesome;
					    }
					    &:hover:before {
						    @extend %transition;
						    left:2px;
					    }
					    &:nth-child(2n+1) {
						    clear: both;
					    }
				    }
				    &:before {
					    content:'';
					    background: $submenu;
					    position: absolute;
					    top:-10px;
					    left:30px;
					    width:20px;
					    height: 10px;
					    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
						clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
				    }
				    &:after {
					    content: '';
					    width: 50%;
					    min-height: 50% !important;
					    bottom: 0;
					    right: 0;
					    position: absolute;
					    min-height: auto;
					    background: darken($submenu,5%);
					    -webkit-clip-path: polygon(55% 1%,77% 49%,100% 18%,100% 100%,0 100%);
					    clip-path: polygon(55% 1%,77% 49%,100% 18%,100% 100%,0 100%);
					    z-index: -1;
				    }
			    }
				li {
					display: table-cell;
					padding:15px 15px;
				}
				.has_sub {
					&:after {
						content:'\f107';
						min-width:10px;
						min-height:10px;
						font-family: fontAwesome;
						padding-left: 8px;
					}
					&:hover ul {
						@extend %sub_menu_in;
						visibility: visible;
						pointer-events: all;
					}
				}
			}
		}
	}
}

.services {
	color: $white;
	background: $maincolor;
	.row {
		display: flex;
		height: 52px;
		align-items: center;
		ul {
			padding: 0;
		    margin: 0 -15px;
		    list-style: none;
		    display: table;
		    text-align: center;
			width: 100%;
		    li {
			    font-size: 14px;
			    display: inline;
			    padding:0px 34px;
			    position: relative;
			    &:before {
				    content: '';
				    width: 16px;
				    height: 16px;
				    background: url(../img/check.svg);
				    background-repeat: no-repeat;
				    position: absolute;
				    left: 0px;
				    top: 0px;
			    }
		    }
		}
	}
}

.home_carousel {
	h1 {
		font-size: 2.4em;
		font-weight: bold;
		text-transform: uppercase;
		font-style: italic;
		@extend %fontspace;
	}
	h3 {
		font-size: 1.4em;
		font-weight: bold;
		text-transform: uppercase;
		font-style: italic;
	}
	.button {
		background:black;
		color: $white;
		padding:14px 32px;
		margin-top:30px;
		display: inline-block;
		text-transform: uppercase;
		font-weight: 600;
	}
	.carousel-inner {
		.carousel-item {
			background-size:cover !important;
			background-repeat: no-repeat !important;
		}
	}
	.down {
		@extend %down;
	            background: #000;
			    display: block;
			    position: absolute;
			    margin: 0 auto;
			    left: 0;
			    right: 0;
			    margin-top: -22px;
			    transform: rotate(45deg);
			    display: flex;
			    align-items: center;
			    text-align: center;
			    color: #fff;
			    font-size: 1.4em;
			    max-width: 30px;
			    max-height: 30px;
	    .fa {
		    @extend %transition;
		    transform: rotate(-45deg);
		    position: absolute;
		    left: 15px;
	    }
	    &:hover  {
		    @extend %transition;
	    }
	}
	.container {
		.row {
			min-height: 74vh;
			display: flex;
			align-items: center;
		}
	}
}
.carousel-controls {
	position: absolute;
    bottom: -1px;
    right: 0;
    width: 120px;
    min-height: 60px;
    background: #fff;
    -webkit-clip-path: polygon(19% 18%,100% 0,100% 100%,0 100%);
    clip-path: polygon(19% 18%,100% 0,100% 100%,0 100%);
    padding: 22px 0 0 28px;
    text-align: center;
    .dash {
	    float:left;
	    width:1px;
	    min-height: 30px;
	    background: #979797;
	    transform: rotate(10deg);
    }
    a {
	    float:left;
	    padding:0px 10px;
    }
    img {
	    &:hover {
		    opacity: 0.8;
	    }
    }
}

/* Uigelicht producten homepagina */

.uitgelicht {
	padding: $uitgelichtpadding;
	h1 {
		font-weight: bold;
		font-size: 1.4rem;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		text-align: center;
	}
}


/* Uitgelichte producten carousel */

.carousel-ui {
	list-style: none;
	.carousel-item {
		width: 100%;
		margin:0px -15px;
		transition-duration: 0.4s;
		a {
			width: 25%;
			padding:15px;
			box-sizing: border-box;
			.product_image {
				@extend %productimage;
			}
		}
	}
	span.title {
		font-weight: 600;
	}
} 

	.ui-next, .ui-prev {
		@extend %ui-control;
		@extend %transition;
		float:left;
		&:hover {
		@extend %transition;
		color:$white;
		background: $maincolor;
		border: 2px solid $maincolor;
		}
	}
	.ui-prev {
		margin-right:15px;
		.fa {
			transform: rotate(135deg);
		    margin: -3px 2px;
		    position: absolute;
		    top: 1px;
		    transform-origin: left;
		}
	}
	.ui-next{
		.fa {
			transform: rotate(-45deg);
		    margin: 0 0 0 1px;
		    position: absolute;
		    transform-origin: bottom;
		    top: 1px;
		}
	}
	


.carousel-ui .carousel-inner .carousel-item.active,
.carousel-ui .carousel-inner .carousel-item-next,
.carousel-ui .carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-ui .carousel-inner .carousel-item-right.active,
.carousel-ui .carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-ui .carousel-inner .carousel-item-left.active, 
.carousel-ui .carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}
  
.carousel-ui .carousel-inner .carousel-item-right,
.carousel-ui .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
  
}

.col-4 {
	float:left;
}

/* Aanmelden nieuwsbrief */

.nieuwsbrief {
	width:100%;
	display: flex;
	align-items: center;
	color:white;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	padding: 45px 0px;
	text-align: center;
	position: relative;
	.overlay {
		background: rgba(0,0,0,0.4);
		width:100%;
		left:0;
		min-height:100%;
		top:0;
		position: absolute;
	}
	.container {
		position: relative; 
		z-index: 55;
	}
	h2 {
		font-weight: 600;
		font-size: 1.6rem;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
	h3 {
		letter-spacing: 0.1rem;
		font-size: 1.0rem;
		text-transform: uppercase;
	}
	#mc_embed_signup {
		width:60%;
		margin:0 auto;
		margin-top:35px;
	}
	#mc_embed_signup input.email {
		width:66%;
		float:left;
		padding:15px;
		border:0px;
	}
	#mc_embed_signup input.button {
		width: 34%;
		float:left;
		padding:15px;
		border:0px;
		background: $maincolor;
		color:$white;
	}
}

/* Uitgelichte categorieën */

.uitgelichte-cat {
	padding: $uitgelichtpadding;
	.uitgelicht-groot {
		min-height: 450px;
		background-size:cover !important;
		padding:25px;
		box-sizing: border-box;
	}
}

/* Footer */

.footer {
	color: $footercolor;
	margin-top: 40px;
	background: $maincolor;
	a {
		color:$footerlink;
		&:hover {
			color:lighten($footerlink, 20%);
		}
	}
	ul, li {
		list-style: none;
		margin:0;
		padding:0;
	}
	h2 {
		font-weight: 600;
		color: $white;
		font-size: 18px;
		padding-bottom:10px;
	}
	.container {
		.row {
			padding:52px 15px;
			.betaalveilig {
				img {
					padding-bottom:10px;
				}
			}
			.easy {
				li {
					padding-bottom: 10px;
				}
				img {
					padding-right: 20px;
				}
			}
			ul {
				list-style: none;
				padding:0;
				margin:0;
				li {
					padding:3px 0px;
				}
			}
		}
	}
}

/* nav tabs */
.home_tabs .row {
	margin:70px 0px 0px 0px;
}
.nav-tabs {
	margin:0px;
	border:0px;
	margin-bottom:30px;
	li {
		float:left;
		margin-right: 30px;
		a {
			padding:4px 0px;
			margin:0px;
			border-bottom:2px solid $bordercolor;
			&:hover {
				color:black;
				border-bottom:2px solid black;
			}
		}
	}
	a.active{
		font-weight: bold;
		color:black;
		border-bottom:2px solid black;
	}
}
.uitgelichte_producten_homepagina {
		padding:0px;
		margin: 0px -15px;
		li {	
				float: left;
				list-style: none;
			    width: 33.3333%;
			    padding: 15px;
			    box-sizing: border-box;
			    .title {
				    width:100%;
				    display: block;
				    float:none;
			    }
			.product_image {
				@extend %productimage_tabs;
			}
		}
	}

/* Home actie */
.action {
	background:black;
	box-sizing: border-box;
	padding:30px;
	color:white;
	h2 {
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
		font-size: 1.2rem;
	}
	.actiecode {
		background:white;
		border:2px dashed $bordercolor;
		padding:15px;
		box-sizing: border-box;
		color:#dddddd;
		margin:20px 0px;
		font-size: 1.2rem;
		font-weight: 500;
		display: block;
	}
}

.white-button {
	font-weight: 600;
	background: white;
	padding:10px 15px;
	color:black !important;
}

/* Single product */

.single-product {
	margin-top:40px;
	.single_titel {
		margin:0;
		padding:0;
	}
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #000;
    font-weight: 600;
    font-size: 1.6em;
}

.variations {
	tbody {
		tr {
			display: block;
		}
		ul {
			margin-top: 0;
		    margin-bottom: 1rem;
		    padding: 0px;
		    margin: 0px -2px;
		}
		.value {
			display: block;
			clear: both;
		    width: 100%;
		    li {
			    float: left;
			    list-style: none;
			    padding:0px 10px;
			    border:1px solid;
			    margin:2px;
			    color: grey;
			    &:hover {
					border:1px solid black;
					background:black;
					color:white;
				}		
		    }
		}
		li.selected {
			border:1px solid black;
			background:black;
			color:white;
		}
	}
}

.woocommerce div.product form.cart .reset_variations {
    visibility: hidden;
    font-size: .83em;
    clear: both;
    display: block;
    }
 
 .label {
	 text-transform: lowercase;
	 :before {
		 content:'selecteer een ';
	 }
	 :first-letter {
		 	text-transform: uppercase;
	}
 }
 
 .single_list {
	 list-style: none;
	 margin:0;
	 padding:20px 0px 10px 0px;
	 li {
		 margin-bottom:8px;
	 }
	 	li:before {
		 content:'';
		 margin-right:10px;
		 width:30px;
		 height: 24px;
		 background:black;
		 display: block;
		 float:left;
		 -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
		 clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	 }
}



.cart_pop {
	right: 0px;
    position: absolute;
    background: #efefef;
    width: auto;
    z-index: 8888;
    text-align: left;
    z-index: 999;
    margin-top: 30px;
    padding: 15px !important;
    border-radius: 2px;
    pointer-events: none;
    transition-duration: .2s;
    animation-duration: .2s;
    min-width: 270px !important;
    top: 80px;
    .cart_price {
	    width: 100%;
	    float:left;
    }
    .button {
	    float: right;
	    background:black;
	    color:white;
	    padding:5px 8px;
	    @extend %transition;
	    &:hover {
		    color:white;
		    background:lighten(black, 20%);
		    @extend %transition;
	    }
    }
    .sub_cart_total {
	    padding-right: 6px;
	    font-weight: 600;
    }
    .info {
	    width:100%;
	    white-space: nowrap;
    }
    hr {
	    clear: both;
    }
	&:before {
		content: '';
	    background: #efefef;
	    position: absolute;
	    top: -10px;
	    right: 12px;
	    width: 20px;
	    height: 10px;
	    -webkit-clip-path: polygon(50% 0,0 100%,100% 100%);
	    clip-path: polygon(50% 0,0 100%,100% 100%);
	 }
	 &:after {
    content: '';
    width: 50%;
    min-height: 50%!important;
    bottom: 0;
    right: 0;
    position: absolute;
    min-height: auto;
    background: #e2e2e2;
    -webkit-clip-path: polygon(55% 1%,77% 49%,100% 18%,100% 100%,0 100%);
    clip-path: polygon(55% 1%,77% 49%,100% 18%,100% 100%,0 100%);
    z-index: -1;
}		    
}
.cart_in {
	@extend %cart_menu_in;	 
}
.out{
	@extend %cart_menu_out;	 
}

/* Woocommerce Loop */

.woocommerce_loop {
	padding: 35px 0px;
	.shop_sidebar {
		font-size: 1em;
		li {
			list-style: none;
			h2 {
				font-weight: 700;
			    font-size: 1em;
			    text-transform: uppercase;
			    letter-spacing: .2em;
			    padding:0 0 15px 0;
			}
		}
		.woocommerce-widget-layered-nav-list {
			padding-bottom: 15px;
			li {
				position: relative;
				&:after {
					content: '';
				    width: 11px;
				    height: 11px;
				    background: url(../img/add.svg);
				    background-size: cover;
				    background-repeat: no-repeat;
				    position: absolute;
				    right: 0;
				    top: 2px;
				    opacity: .8;
				}
			}
		}
		.widget {
			border-top:1px solid $bordercolor;
			padding-top:30px;
			&:first-child {
				padding-bottom:30px;
				padding-top:0px;
				border-top:0px;
			}
		}
	}
	.the_woocommerce_loop {
		h1.shop_title {
			font-weight: 700;
		    font-size: 1.4rem;
		    text-transform: uppercase;
		    letter-spacing: .2em;
			border-bottom:1px solid $bordercolor;
			width: 100%;
			padding:0px 0px 15px 0px;
			margin-bottom:15px;
		}
	}
	.products {
		border-top:1px solid $bordercolor;
		padding:35px 0px 0px 0px !important;
	}
	.price_slider_wrapper {
		padding-top:20px;
		.price_slider_amount {
			padding-top:10px;
		}
	}
	.ui-slider-range {
		background-color: $maincolor!important;
	}
	.price_slider {
		background-color: $bordercolor !important;
		
	}
	.ui-slider-handle {
		background-color: #fff !important;
		border-radius: 0px !important;
		height: 1.2em !important;
		width: -.4em !important;
		top: -.45em !important;
		margin-left: -.5em !important;
		border:1px solid $maincolor;
		border-radius: 0px 2px !important;
	}
	.nieuwsbrief {
		margin-bottom:35px;
	}
	.nieuwsbrief #mc_embed_signup input.button {
		width: 34%;
	    float: left;
	    padding: 19px;
	    border: 0;
	    background: #000;
	    color: #fff;
	}
}


/* Animaties */

.woocommerce_loop {
	
}

/* Animaties */

@keyframes subIn {
  0% {
    margin-top:30px;
    opacity: 0;
  }
  100% {
    margin-top:15px;
    opacity: 1;
  }
}

@keyframes upActivated {
  0% {
  	bottom:-40px;
  	opacity: 0;
  }
  100% {
    bottom:-20px;
    opacity: 1;
  }
}

@keyframes subOut {
  0% {
    margin-top:15px;
    opacity: 1;
  }
  100% {
    margin-top:30px;
    opacity: 0;
  }
}

@keyframes cartIn {
  0% {
    top:80px;
    opacity: 0;
  }
  100% {
    top:40px;
    opacity: 1;
  }
}

@keyframes cartOut {
  0% {
    top:40px;
    opacity: 1;
  }
  100% {
    top:80px;
    opacity: 0;
  }
}

@keyframes down {
  0% {
	padding:0;
    width: 0px;
	height: 0px;
	overflow: hidden;
  }
  100% {
    width: 58px;
	height: 58px;
	padding: 22px;
  }
}

@keyframes fontspace {
  0% {
	 
  }
  100% {
	 
  }
}






@keyframes hamburgerfirst {
  0% {
   	transform: rotate(0deg);
   	width: 20px;
  }
  100% {
    transform: rotate(45deg);
    width: 20px;
  }
}

@keyframes hamburgerlast {
  0% {
    transform: rotate(-0deg);
    width: 15px;
    margin-top: 3px;
  }
  100% {
    transform: rotate(-45deg);
    width: 20px;
    margin-top: -13px;
  }
}

@keyframes hamburgermiddle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}





.box {
	right:-20px;
    position: absolute;
	background: $submenu;
	width: auto;
	z-index: 8888;
	text-align: left;
	z-index: 999;
	margin-top:30px;
	padding:15px;
	border-radius: 2px;
	visibility: hidden;
	pointer-events: none;
	transition-duration: 0.2s;
	animation-duration: 0.2s;
	min-width: 120px;
	min-height: 60px;
    @extend %sub_menu_out;
    .info {
	    white-space: nowrap;
    }

    &:before {
		content:'';
		background: $submenu;
		position: absolute;
		top:-10px;
		right:30px;
		width:20px;
		height: 10px;
		 -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
		clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	}
	&:after {
		content: '';
		width: 50%;
		min-height: 50% !important;
		bottom: 0;
		right: 0px;
		position: absolute;
		min-height: auto;
		background: darken($submenu,5%);
		-webkit-clip-path: polygon(55% 1%,77% 49%,100% 18%,100% 100%,0 100%);
		clip-path: polygon(55% 1%,77% 49%,100% 18%,100% 100%,0 100%);
		z-index: -1;
	}
}

.cart_icon {
	 .count {
	position: absolute;
	top:-5px;
	right:0px;
	padding:0px 5px;
	border-radius: 50px;
	color:$white;
	font-size: 0.7em;
	background: $count;
	}
}

.header_search form div {
	display: flex;
}

.box_active {
	animation: subIn !important;
 	animation-duration: 0.2s !important;
	animation-fill-mode: forwards !important;
	visibility: visible;
	pointer-events: all;
}

.user_menu ul {
	width:80%;
	padding:0px;
	margin:0px;
	float:right;
	display: table;
	li {
		display: table-cell;
		text-align: center;
		position: relative;
		svg {
			max-height: 20px;
		}
	}
}





.box {
	.button {
		background: $maincolor;
		color:$white;
		width:auto;
		padding:4px 8px;
		border:2px;
		margin:5px 0px;
		display: inline-block;
	}
	.menu {
		li {
			width: 150px;
		    float: left;
		    position: relative;
		    padding: 4px 15px;
		    text-align: left;
		    white-space: nowrap;
		    display: inherit;
					    &:before {
						    @extend %transition;
						    content: '\f105';
						    position: absolute;
						    width: 6px;
						    height: 8px;
						    left: 0px;
						    top: 4px;
						    font-family: fontAwesome;
					    }
					    &:hover:before {
						    @extend %transition;
						    left:2px;
					    }
			}
		}
	}
	
	.shop_sidebar {
		.count {
			display: none;
		}
	}
	
.widget {
	
}


.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	padding:10px 0px 0px 0px;
}

span.woocommerce-Price-amount {
	font-weight: bold;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: $maincolor;
    font-size: 1.25em;
    padding: 0px;
    margin: 0px 0px -9px 0px;
}

.exl_btw {
    color: #7b7b7b;
    line-height: 30px;
    display: block;
}

.up {
	width:40px;
	height:40px;
	transform:rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	position: fixed;
	background:$maincolor;
	bottom:-40px;
	right:25px;
	display: block;
	color:white;
	z-index: 999;
	opacity: 0;
	cursor: pointer;
	.fa {
		position: absolute;
	    transform: rotate(-45deg);
	    -webkit-transform: rotate(-136deg);
	    top: 2px;
	    left: 21px;
	    font-size: 20px;
	}
}

.up_activated {
	@extend %upactivated;
}

.hamburgerfirst{
	@extend %hamburgerfirst;
}

.hamburgermiddle{
	@extend %hamburgermiddle;
}

.hamburgerlast{
	@extend %hamburgerlast;
}


/* WOOCOMMERCE STYLES */

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background: $maincolor;
	border-radius: 0px;
	padding: 20px 40px;
}

.woocommerce .quantity .qty {
    width: 6em;
    height: 56px;
    text-align: center;
    margin-right: -5px;
    padding: 4.2px 5px 4.2px 4px;
}

.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
	background: $maincolor;
}

.woocommerce table.shop_attributes {
	margin: 30px 0px 20px 0px;
}
.product_cat_image {
	min-height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
}
.woocommerce ul.products li.product a img {
	max-height: 150px;
	width:auto !important;
	margin:0 auto;
}

.gridlist-toggle {
    float: right;
    a {
	    padding: 0px 10px;
	    &:last-child {
		    padding-right:20px;
	    }
    }
}


ul.products.grid div[itemprop="description"] {
    display: none;
}
ul.products.grid hr {
    display: none;
}
ul.products.list li.product {
    float: none !important;
    width: 100% !important;
    text-align: left !important;
    border-bottom: 1px solid $bordercolor;
    padding-bottom:30px;
}
ul.products.list li.product:after {
    content: "";
    display: block;
    clear: both;
}
ul.products.list li.product img {
    width: 30.75% !important;
    float: left;
    margin-bottom: 1.5em;
    -webkit-transition: none !important;
    margin-right: 3.8% !important;
}
ul.products.list li.product h3,
ul.products.list li.product div[itemprop="description"],
ul.products.list li.product .price,
ul.products.list li.product .gridlist-buttonwrap {
    width: 65.4%;
    float: right;
    clear: none;
}
ul.products.list li.product div[itemprop="description"] {
    display: block;
}
ul.products.list li.product .star-rating {
    margin: 0 0 1em;
}
ul.products.list li.product .gridlist-buttonwrap {
    margin-bottom: 1.5em;
}
ul.products.list li.product hr {
    clear: both;
}

.list {
	.product_cat_image {
		width:150px;
		height:150px;
		max-width: 150px;
		min-height: 150px;
		text-align: left;
		float: left;
	}
}

ul.products {
	.shop_attributes {
		display: none;
	}
}

.list_items {
	display: none;
}

.list {
	.in-stock {
		color: #1ad41a;
	    border: 1px solid #1ad41a;
	    width: auto;
	    display: inline-block;
	    padding: 2px 10px;
	}
	.out-of-stock {
		color: #d41a1a;
	    border: 1px solid #d41a1a;
	    width: auto;
	    display: inline-block;
	    padding: 2px 10px;
	}
	.list_b {
		text-align: right;
	}
	h2 {
		margin-left: 15px !important;
		display: inline;
	}
	.grid_info {
		display: none;
	}
	.shop_attributes {
		display:block !important;
	}
	
	button {
		border:0px !important;
		background:$maincolor !important;
		color: $white !important;
		padding:14px 32px !important;
		margin-top:30px !important;
		text-transform: uppercase;
		font-weight: 600;
		border-radius: 0px !important;
		float:right;
		margin: 0px !important;
	}
}

.col-1, .col-2 {
	width:50%;
	max-width: 50%;
}

.woocommerce form .form-row label {
	width:100%;
}

.woocommerce .info, .woocommerce-error, .woocommerce-info, .woocommerce-message{
	border-top-color: #1e85be;
    margin-top: 30px;
    color: white;
    background: black;
    border: 0px;
}

.woocommerce .a{
	color: #fff;
}

.woocommerce-info::before {
    color: #ffffff;
}

.woocommerce-input-wrapper {
	width:100%;
}

@media only screen and (max-width: 1024px) {
	
	.has_sub {
		a {
			pointer-events: all;
		}
	}
	
	.nav {
		.row {
		 	.categorie {
			 	ul {
				 	li {
					 	display: inline-block !important;
				 	}
			 		ul {
				 		margin-top:0px;
				 		padding:0px;
					    position: inherit;
					    visibility: visible;
					    animation:none !important;
					    background:none;
					    pointer-events: all;
					    &:before {
						    display:none;
					    }
					    &:after {
						    display: none;
					    }
					    li {
						    width: 100%;
						    display: inline-block;
						    border-bottom:0px;
					    }
			 		}
			 	}
			 }
		 }
	}
	
	
	.nav {
		.row {
			height: inherit;
			padding:15px 0px;
			.categorie {
				ul {
					display: none;
					text-align: inherit;
					padding: 20px 0 0px 0px;
					li {
						display: block;
					    padding: 8px 0;
					    width: 100%;
					    float: none;
					    position: relative;
					    border-bottom: 1px solid #dadada;
						&:last-child {
							border-bottom: 0px;
						}
					}
					.has_sub {
						&:after {
							position: absolute;
							right:0px;
							top:8px;
						}
					}
				}
			}
			.branding {
				width:40%; 
				float:left;
			}
		}
	}
	.services {
		display: none;
	}
	.hamburger {
		width:60%;
		float:right;
		padding:0px 15px;
		cursor: pointer;
		.cheese {
			width:20px;
			float:right;
			div {
				width: 20px;
			    min-height: 2px;
			    background: $maincolor;
			    margin: 3px 0px;
			    float: right;
			    &:first-child {
				    width:20px;
			    }
			    &:nth-child(2) {
				    width:10px;
			    }
			    &:nth-child(3) {
				    width:15px;
			    }
			}
		}
	}
	
	.user_menu {
		background: black;
	    padding: 15px 0px 10px 0px;
	    margin:20px 0px -15px 0px;
		ul {
		    width: 80%;
		    margin: 0 auto;
		    float:inherit;
		    li {
			    fill:white;
		    }
	    }
	}
	.cart_icon {
		.count {
    		right: 27%;
    	}
	}
	
	.nav-tabs li {
		margin-right: 15px;
		margin-top: 20px;
	}
	
	
	.carousel-ui {
	list-style: none;
		.carousel-item {
			width: 100%;
			margin:0px -15px;
			transition-duration: 0.4s;
			a {
				width: 50%;
				padding:15px;
				box-sizing: border-box;
			}
		}
	} 
	.list button {
   		padding: 14px 22px!important;
	}
	.list_b {
		text-align: left !important;
	}
}


.more_open {
	background:yellow;
}

.widget .more_btn {
	margin: -10px 0px 15px 0px;
	background: $maincolor;
	color:white;
	padding: 2px 8px;
	display: inline-block;
	cursor: pointer;
}

.widget .less_btn {
	margin: -10px 0px 15px 0px;
	background: $maincolor;
	color:white;
	padding: 2px 8px;
	display: none;
	cursor: pointer;
}




.uitgelicht_homepagina {
	.product_image {
		width:100%;
		height: 140px;
	}
}


#uitgelicht-categorie {
	height: 60vh;
	position: relative;
	background-size: cover;
	background-position: center center;
	.boxed {
		border-radius: 2px;
	    background: #fff;
	    display: inline-block;
	    padding: 15px;
	    position: absolute;
	    bottom: 30px;
	    left: 30px;
	    h2 {
		    font-size: 1.6em;
		    text-transform: uppercase;
		    font-style: italic;
		    font-weight: bold;
		    color: black;
	    }
	    h3 {
		    color: #474747;
		    font-weight: bold;	
		    margin-bottom: -6px;  
		    font-size: 1.3em;  
	    }
	    h4 {
		    font-size: 1em;
		    font-weight: bold;
		    margin-top:10px;
		    text-decoration: underline;
	    }
	}
}