@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i");
/* Colors */
/* Header colors */
/* Footer */
/* Nav Tabs */
/* Extends */
body, .nav {
  font-family: 'Source Sans Pro', sans-serif; }

.woocommerce-MyAccount-navigation ul li:before, .woocommerce-MyAccount-navigation ul li:hover:before, .nav .row .categorie ul ul li:before, .nav .row .categorie ul ul li:hover:before, .home_carousel .down .fa, .home_carousel .down:hover, .ui-next, .ui-prev, .ui-next:hover, .ui-prev:hover, .cart_pop .button, .cart_pop .button:hover, .box .menu li:before, .box .menu li:hover:before {
  transition-duration: 0.2s;
  animation-duration: 0.2s; }

.nav .row .categorie ul .has_sub:hover ul {
  animation: subIn;
  animation-duration: 0.2s;
  animation-fill-mode: forwards; }

.hamburgerfirst {
  animation: hamburgerfirst;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s; }

.hamburgermiddle {
  animation: hamburgermiddle;
  animation-duration: 0.2s;
  animation-fill-mode: forwards; }

.hamburgerlast {
  animation: hamburgerlast;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s; }

.cart_in {
  animation: cartIn;
  animation-duration: 0.2s;
  animation-fill-mode: forwards; }

.out {
  animation: cartOut;
  animation-duration: 0.2s;
  animation-fill-mode: forwards; }

.nav .row .categorie ul ul, .box {
  animation: subOut;
  animation-duration: 0.2s;
  animation-fill-mode: forwards; }

.up_activated {
  animation: upActivated;
  animation-duration: 0.4s;
  animation-fill-mode: forwards; }

.home_carousel .down {
  animation: down;
  animation-duration: 0.4s;
  animation-fill-mode: forwards; }

.home_carousel h1 {
  animation: fontspace;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

.ui-next, .ui-prev {
  color: #ececec;
  display: block;
  width: 25px;
  height: 25px;
  transform: rotate(-45deg);
  border: 2px solid #ececec;
  text-align: center; }

.carousel-ui .carousel-item a .product_image {
  width: 100%;
  min-height: 250px;
  background-repeat: no-repeat !important;
  background-size: 80% auto !important;
  background-position: center center !important; }

.uitgelichte_producten_homepagina li .product_image {
  width: 100%;
  min-height: 144px;
  background-repeat: no-repeat !important;
  background-size: 80% auto !important;
  background-position: center center !important;
  margin-bottom: 10px; }

/* SCSS */
body {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body a {
    color: #000000; }
    body a:hover {
      color: #333333;
      text-decoration: none; }
  body ::selection {
    background: black;
    color: white; }
  body section {
    padding: 60px 0px; }

input, textarea, select {
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  padding: 8px; }

.woocommerce-page .woocommerce {
  display: flex;
  padding: 40px 0px; }
  .woocommerce-page .woocommerce .woocommerce-MyAccount-navigation {
    flex: 3; }
  .woocommerce-page .woocommerce .woocommerce-MyAccount-content {
    flex: 9; }

.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  .woocommerce-MyAccount-navigation ul li {
    padding-left: 15px;
    position: relative; }
    .woocommerce-MyAccount-navigation ul li:before {
      content: '\f105';
      position: absolute;
      width: 6px;
      height: 8px;
      left: 0;
      top: 0px;
      font-family: fontAwesome; }
    .woocommerce-MyAccount-navigation ul li:hover:before {
      left: 2px; }

.woocommerce-MyAccount-content .woocommerce .info, .woocommerce-MyAccount-content .woocommerce-error, .woocommerce-MyAccount-content .woocommerce-info, .woocommerce-MyAccount-content .woocommerce-message {
  margin-top: 0px; }

.woocommerce-form-login {
  float: none;
  clear: all; }

.woocommerce .col2-set, .woocommerce-page .col2-set {
  width: calc(100% + 30px);
  margin: 0px -15px; }

#coupon_code {
  width: 200px; }

.woocommerce .cart .button, .woocommerce .cart input.button {
  float: none;
  padding: 13px; }

.adress_container {
  padding: 0px; }

.clearfix {
  clear: both; }

.nav {
  background: #fff; }
  .nav .row {
    display: flex;
    height: 98px;
    align-items: center;
    padding: 0px 15px; }
    .nav .row .branding img {
      max-width: 100%; }
    .nav .row .categorie ul {
      display: table;
      text-align: center;
      width: 100%;
      margin: 0px;
      padding: 0px; }
      .nav .row .categorie ul ul {
        position: absolute;
        background: #efefef;
        width: auto;
        z-index: 8888;
        text-align: left;
        z-index: 999;
        margin-top: 30px;
        padding: 15px 30px 15px 15px;
        border-radius: 2px;
        visibility: hidden;
        pointer-events: none;
        transition-duration: 0.2s;
        animation-duration: 0.2s; }
        .nav .row .categorie ul ul li {
          width: 150px;
          float: left;
          position: relative;
          padding: 4px 15px; }
          .nav .row .categorie ul ul li:before {
            content: '\f105';
            position: absolute;
            width: 6px;
            height: 8px;
            left: 0px;
            top: 4px;
            font-family: fontAwesome; }
          .nav .row .categorie ul ul li:hover:before {
            left: 2px; }
          .nav .row .categorie ul ul li:nth-child(2n+1) {
            clear: both; }
        .nav .row .categorie ul ul:before {
          content: '';
          background: #efefef;
          position: absolute;
          top: -10px;
          left: 30px;
          width: 20px;
          height: 10px;
          -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }
        .nav .row .categorie ul ul:after {
          content: '';
          width: 50%;
          min-height: 50% !important;
          bottom: 0;
          right: 0;
          position: absolute;
          min-height: auto;
          background: #e2e2e2;
          -webkit-clip-path: polygon(55% 1%, 77% 49%, 100% 18%, 100% 100%, 0 100%);
          clip-path: polygon(55% 1%, 77% 49%, 100% 18%, 100% 100%, 0 100%);
          z-index: -1; }
      .nav .row .categorie ul li {
        display: table-cell;
        padding: 15px 15px; }
      .nav .row .categorie ul .has_sub:after {
        content: '\f107';
        min-width: 10px;
        min-height: 10px;
        font-family: fontAwesome;
        padding-left: 8px; }
      .nav .row .categorie ul .has_sub:hover ul {
        visibility: visible;
        pointer-events: all; }

.services {
  color: #fff;
  background: #000000; }
  .services .row {
    display: flex;
    height: 52px;
    align-items: center; }
    .services .row ul {
      padding: 0;
      margin: 0 -15px;
      list-style: none;
      display: table;
      text-align: center;
      width: 100%; }
      .services .row ul li {
        font-size: 14px;
        display: inline;
        padding: 0px 34px;
        position: relative; }
        .services .row ul li:before {
          content: '';
          width: 16px;
          height: 16px;
          background: url(../img/check.svg);
          background-repeat: no-repeat;
          position: absolute;
          left: 0px;
          top: 0px; }

.home_carousel h1 {
  font-size: 2.4em;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic; }
.home_carousel h3 {
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic; }
.home_carousel .button {
  background: black;
  color: #fff;
  padding: 14px 32px;
  margin-top: 30px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600; }
.home_carousel .carousel-inner .carousel-item {
  background-size: cover !important;
  background-repeat: no-repeat !important; }
.home_carousel .down {
  background: #000;
  display: block;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: -22px;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 1.4em;
  max-width: 30px;
  max-height: 30px; }
  .home_carousel .down .fa {
    transform: rotate(-45deg);
    position: absolute;
    left: 15px; }
.home_carousel .container .row {
  min-height: 74vh;
  display: flex;
  align-items: center; }

.carousel-controls {
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 120px;
  min-height: 60px;
  background: #fff;
  -webkit-clip-path: polygon(19% 18%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(19% 18%, 100% 0, 100% 100%, 0 100%);
  padding: 22px 0 0 28px;
  text-align: center; }
  .carousel-controls .dash {
    float: left;
    width: 1px;
    min-height: 30px;
    background: #979797;
    transform: rotate(10deg); }
  .carousel-controls a {
    float: left;
    padding: 0px 10px; }
  .carousel-controls img:hover {
    opacity: 0.8; }

/* Uigelicht producten homepagina */
.uitgelicht {
  clear: both;
  padding: 62px 15px 0px 15px; }
  .uitgelicht h1 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center; }

.related h2 {
  margin-bottom: 30px; }

/* Uitgelichte producten carousel */
.carousel-ui {
  list-style: none; }
  .carousel-ui .carousel-item {
    width: 100%;
    margin: 0px -15px;
    transition-duration: 0.4s; }
    .carousel-ui .carousel-item a {
      width: 25%;
      padding: 15px;
      box-sizing: border-box; }
  .carousel-ui span.title {
    font-weight: 600; }

.ui-next, .ui-prev {
  float: left; }
  .ui-next:hover, .ui-prev:hover {
    color: #fff;
    background: #000000;
    border: 2px solid #000000; }

.ui-prev {
  margin-right: 15px; }
  .ui-prev .fa {
    transform: rotate(135deg);
    margin: -3px 2px;
    position: absolute;
    top: 1px;
    transform-origin: left; }

.ui-next .fa {
  transform: rotate(-45deg);
  margin: 0 0 0 1px;
  position: absolute;
  transform-origin: bottom;
  top: 1px; }

.carousel-ui .carousel-inner .carousel-item.active,
.carousel-ui .carousel-inner .carousel-item-next,
.carousel-ui .carousel-inner .carousel-item-prev {
  display: flex; }

.carousel-ui .carousel-inner .carousel-item-right.active,
.carousel-ui .carousel-inner .carousel-item-next {
  transform: translateX(25%); }

.carousel-ui .carousel-inner .carousel-item-left.active,
.carousel-ui .carousel-inner .carousel-item-prev {
  transform: translateX(-25%); }

.carousel-ui .carousel-inner .carousel-item-right,
.carousel-ui .carousel-inner .carousel-item-left {
  transform: translateX(0); }

.col-4 {
  float: left; }

/* Aanmelden nieuwsbrief */
.nieuwsbrief {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  padding: 45px 0px;
  text-align: center;
  position: relative; }
  .nieuwsbrief .overlay {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    left: 0;
    min-height: 100%;
    top: 0;
    position: absolute; }
  .nieuwsbrief .container {
    position: relative;
    z-index: 55; }
  .nieuwsbrief h2 {
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
  .nieuwsbrief h3 {
    letter-spacing: 0.1rem;
    font-size: 1.0rem;
    text-transform: uppercase; }
  .nieuwsbrief #mc_embed_signup {
    width: 60%;
    margin: 0 auto;
    margin-top: 35px; }
  .nieuwsbrief #mc_embed_signup input.email {
    width: 66%;
    float: left;
    padding: 15px;
    border: 0px; }
  .nieuwsbrief #mc_embed_signup input.button {
    width: 34%;
    float: left;
    padding: 15px;
    border: 0px;
    background: #000000;
    color: #fff; }

/* Uitgelichte categorieën */
.uitgelichte-cat {
  padding: 62px 15px 0px 15px; }
  .uitgelichte-cat .uitgelicht-groot {
    min-height: 450px;
    background-size: cover !important;
    padding: 25px;
    box-sizing: border-box; }

/* Footer */
.footer {
  color: #BAB7B7;
  margin-top: 40px;
  background: #000000; }
  .footer a {
    color: #BAB7B7; }
    .footer a:hover {
      color: #ecebeb; }
  .footer ul, .footer li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .footer h2 {
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    padding-bottom: 10px; }
  .footer .container .row {
    padding: 52px 15px; }
    .footer .container .row .betaalveilig img {
      padding-bottom: 10px; }
    .footer .container .row .easy li {
      padding-bottom: 10px; }
    .footer .container .row .easy img {
      padding-right: 20px; }
    .footer .container .row ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .footer .container .row ul li {
        padding: 3px 0px; }

/* nav tabs */
.home_tabs .row {
  margin: 70px 0px 0px 0px; }

.nav-tabs {
  margin: 0px;
  border: 0px;
  margin-bottom: 30px; }
  .nav-tabs li {
    float: left;
    margin-right: 30px; }
    .nav-tabs li a {
      padding: 4px 0px;
      margin: 0px;
      border-bottom: 2px solid #d9d9d9; }
      .nav-tabs li a:hover {
        color: black;
        border-bottom: 2px solid black; }
  .nav-tabs a.active {
    font-weight: bold;
    color: black;
    border-bottom: 2px solid black; }

.uitgelichte_producten_homepagina {
  padding: 0px;
  margin: 0px -15px; }
  .uitgelichte_producten_homepagina li {
    float: left;
    list-style: none;
    width: 33.3333%;
    padding: 15px;
    box-sizing: border-box; }
    .uitgelichte_producten_homepagina li .title {
      width: 100%;
      display: block;
      float: none; }

/* Home actie */
.action {
  background: black;
  box-sizing: border-box;
  padding: 30px;
  color: white; }
  .action h2 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.2rem; }
  .action .actiecode {
    background: white;
    border: 2px dashed #d9d9d9;
    padding: 15px;
    box-sizing: border-box;
    color: #dddddd;
    margin: 20px 0px;
    font-size: 1.2rem;
    font-weight: 500;
    display: block; }

.white-button {
  font-weight: 600;
  background: white;
  padding: 10px 15px;
  color: black !important; }

/* Single product */
.single-product {
  margin-top: 40px; }
  .single-product .single_titel {
    margin: 0;
    padding: 0; }

.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #000;
  font-weight: 600;
  font-size: 1.6em; }

.variations tbody tr {
  display: block; }
.variations tbody ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0px;
  margin: 0px -2px; }
.variations tbody .value {
  display: block;
  clear: both;
  width: 100%; }
  .variations tbody .value li {
    float: left;
    list-style: none;
    padding: 0px 10px;
    border: 1px solid;
    margin: 2px;
    color: grey; }
    .variations tbody .value li:hover {
      border: 1px solid black;
      background: black;
      color: white; }
.variations tbody li.selected {
  border: 1px solid black;
  background: black;
  color: white; }

.woocommerce div.product form.cart .reset_variations {
  visibility: hidden;
  font-size: .83em;
  clear: both;
  display: block; }

.label {
  text-transform: lowercase; }
  .label :before {
    content: 'selecteer een '; }
  .label :first-letter {
    text-transform: uppercase; }

.single_list {
  list-style: none;
  margin: 0;
  padding: 20px 0px 10px 0px; }
  .single_list li {
    margin-bottom: 8px; }
  .single_list li:before {
    content: '';
    margin-right: 10px;
    width: 30px;
    height: 24px;
    background: black;
    display: block;
    float: left;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); }

.cart_pop {
  right: 0px;
  position: absolute;
  background: #efefef;
  width: auto;
  z-index: 8888;
  text-align: left;
  z-index: 999;
  margin-top: 30px;
  padding: 15px !important;
  border-radius: 2px;
  pointer-events: none;
  transition-duration: .2s;
  animation-duration: .2s;
  min-width: 270px !important;
  top: 80px; }
  .cart_pop .cart_price {
    width: 100%;
    float: left; }
  .cart_pop .button {
    float: right;
    background: black;
    color: white;
    padding: 5px 8px; }
    .cart_pop .button:hover {
      color: white;
      background: #333333; }
  .cart_pop .sub_cart_total {
    padding-right: 6px;
    font-weight: 600; }
  .cart_pop .info {
    width: 100%;
    white-space: nowrap; }
  .cart_pop hr {
    clear: both; }
  .cart_pop:before {
    content: '';
    background: #efefef;
    position: absolute;
    top: -10px;
    right: 12px;
    width: 20px;
    height: 10px;
    -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%); }
  .cart_pop:after {
    content: '';
    width: 50%;
    min-height: 50% !important;
    bottom: 0;
    right: 0;
    position: absolute;
    min-height: auto;
    background: #e2e2e2;
    -webkit-clip-path: polygon(55% 1%, 77% 49%, 100% 18%, 100% 100%, 0 100%);
    clip-path: polygon(55% 1%, 77% 49%, 100% 18%, 100% 100%, 0 100%);
    z-index: -1; }

/* Woocommerce Loop */
.woocommerce_loop {
  padding: 35px 0px; }
  .woocommerce_loop .shop_sidebar {
    font-size: 1em; }
    .woocommerce_loop .shop_sidebar li {
      list-style: none; }
      .woocommerce_loop .shop_sidebar li h2 {
        font-weight: 700;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: .2em;
        padding: 0 0 15px 0; }
    .woocommerce_loop .shop_sidebar .woocommerce-widget-layered-nav-list {
      padding-bottom: 15px; }
      .woocommerce_loop .shop_sidebar .woocommerce-widget-layered-nav-list li {
        position: relative; }
        .woocommerce_loop .shop_sidebar .woocommerce-widget-layered-nav-list li:after {
          content: '';
          width: 11px;
          height: 11px;
          background: url(../img/add.svg);
          background-size: cover;
          background-repeat: no-repeat;
          position: absolute;
          right: 0;
          top: 2px;
          opacity: .8; }
    .woocommerce_loop .shop_sidebar .widget {
      border-top: 1px solid #d9d9d9;
      padding-top: 30px; }
      .woocommerce_loop .shop_sidebar .widget:first-child {
        padding-bottom: 30px;
        padding-top: 0px;
        border-top: 0px; }
  .woocommerce_loop .the_woocommerce_loop h1.shop_title {
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2em;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    padding: 0px 0px 15px 0px;
    margin-bottom: 15px; }
  .woocommerce_loop .products {
    border-top: 1px solid #d9d9d9;
    padding: 35px 0px 0px 0px !important; }
  .woocommerce_loop .price_slider_wrapper {
    padding-top: 20px; }
    .woocommerce_loop .price_slider_wrapper .price_slider_amount {
      padding-top: 10px; }
  .woocommerce_loop .ui-slider-range {
    background-color: #000000 !important; }
  .woocommerce_loop .price_slider {
    background-color: #d9d9d9 !important; }
  .woocommerce_loop .ui-slider-handle {
    background-color: #fff !important;
    border-radius: 0px !important;
    height: 1.2em !important;
    width: -.4em !important;
    top: -.45em !important;
    margin-left: -.5em !important;
    border: 1px solid #000000;
    border-radius: 0px 2px !important; }
  .woocommerce_loop .nieuwsbrief {
    margin-bottom: 35px; }
  .woocommerce_loop .nieuwsbrief #mc_embed_signup input.button {
    width: 34%;
    float: left;
    padding: 19px;
    border: 0;
    background: #000;
    color: #fff; }

/* Animaties */
/* Animaties */
@keyframes subIn {
  0% {
    margin-top: 30px;
    opacity: 0; }
  100% {
    margin-top: 15px;
    opacity: 1; } }
@keyframes upActivated {
  0% {
    bottom: -40px;
    opacity: 0; }
  100% {
    bottom: -20px;
    opacity: 1; } }
@keyframes subOut {
  0% {
    margin-top: 15px;
    opacity: 1; }
  100% {
    margin-top: 30px;
    opacity: 0; } }
@keyframes cartIn {
  0% {
    top: 80px;
    opacity: 0; }
  100% {
    top: 40px;
    opacity: 1; } }
@keyframes cartOut {
  0% {
    top: 40px;
    opacity: 1; }
  100% {
    top: 80px;
    opacity: 0; } }
@keyframes down {
  0% {
    padding: 0;
    width: 0px;
    height: 0px;
    overflow: hidden; }
  100% {
    width: 58px;
    height: 58px;
    padding: 22px; } }
@keyframes hamburgerfirst {
  0% {
    transform: rotate(0deg);
    width: 20px; }
  100% {
    transform: rotate(45deg);
    width: 20px; } }
@keyframes hamburgerlast {
  0% {
    transform: rotate(0deg);
    width: 15px;
    margin-top: 3px; }
  100% {
    transform: rotate(-45deg);
    width: 20px;
    margin-top: -13px; } }
@keyframes hamburgermiddle {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.box {
  right: -20px;
  position: absolute;
  background: #efefef;
  width: auto;
  z-index: 8888;
  text-align: left;
  z-index: 999;
  margin-top: 30px;
  padding: 15px;
  border-radius: 2px;
  visibility: hidden;
  pointer-events: none;
  transition-duration: 0.2s;
  animation-duration: 0.2s;
  min-width: 120px;
  min-height: 60px; }
  .box .info {
    white-space: nowrap; }
  .box:after {
    content: '';
    width: 50%;
    min-height: 50% !important;
    bottom: 0;
    right: 0px;
    position: absolute;
    min-height: auto;
    background: #e2e2e2;
    -webkit-clip-path: polygon(55% 1%, 77% 49%, 100% 18%, 100% 100%, 0 100%);
    clip-path: polygon(55% 1%, 77% 49%, 100% 18%, 100% 100%, 0 100%);
    z-index: -1; }

.header_search:before {
  content: '';
  background: #efefef;
  position: absolute;
  top: -10px;
  right: 30px;
  width: 20px;
  height: 10px;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }

.user-menu-box:before {
  content: '';
  background: #efefef;
  position: absolute;
  top: -10px;
  right: 30px;
  width: 20px;
  height: 10px;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }

.user-cart-box {
  width: fit-content !important;
  left: 50% !important;
  margin: 0 auto !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateX(-50%); }
  .user-cart-box:before {
    content: '';
    background: #efefef;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 10px;
    -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%); }

.cart_icon .count {
  position: absolute;
  top: -5px;
  right: 0px;
  padding: 0px 5px;
  border-radius: 50px;
  color: #fff;
  font-size: 0.7em;
  background: #2fd334; }

.header_search form div {
  display: flex; }

.box_active {
  animation: subIn !important;
  animation-duration: 0.2s !important;
  animation-fill-mode: forwards !important;
  visibility: visible;
  pointer-events: all; }

.user_menu ul {
  width: 80%;
  padding: 0px;
  margin: 0px;
  float: right;
  display: table; }
  .user_menu ul li {
    display: table-cell;
    text-align: center;
    position: relative; }
    .user_menu ul li svg {
      max-height: 20px; }

.box .button {
  background: #000000;
  color: #fff;
  width: auto;
  padding: 4px 8px;
  border: 2px;
  margin: 5px 0px;
  display: inline-block; }
.box .menu li {
  width: 150px;
  float: left;
  position: relative;
  padding: 4px 15px;
  text-align: left;
  white-space: nowrap;
  display: inherit; }
  .box .menu li:before {
    content: '\f105';
    position: absolute;
    width: 6px;
    height: 8px;
    left: 0px;
    top: 4px;
    font-family: fontAwesome; }
  .box .menu li:hover:before {
    left: 2px; }

.shop_sidebar .count {
  display: none; }

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
  padding: 10px 0px 0px 0px; }

span.woocommerce-Price-amount {
  font-weight: bold; }

.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #000000;
  font-size: 1.25em;
  padding: 0px;
  margin: 0px 0px -9px 0px; }

.exl_btw {
  color: #7b7b7b;
  line-height: 30px;
  display: block; }

.up {
  width: 40px;
  height: 40px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: fixed;
  background: #000000;
  bottom: -40px;
  right: 25px;
  display: block;
  color: white;
  z-index: 999;
  opacity: 0;
  cursor: pointer; }
  .up .fa {
    position: absolute;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-136deg);
    top: 2px;
    left: 21px;
    font-size: 20px; }

/* WOOCOMMERCE STYLES */
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background: #000000;
  border-radius: 0px;
  padding: 20px 40px; }

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  background: #2fd334; }

.woocommerce .quantity .qty {
  width: 6em;
  height: 56px;
  text-align: center;
  margin-right: -5px;
  padding: 4.2px 5px 4.2px 4px; }

.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
  background: #000000; }

.woocommerce table.shop_attributes {
  margin: 30px 0px 20px 0px; }

.product_cat_image {
  min-height: 150px;
  display: flex;
  align-items: center;
  text-align: center; }

.woocommerce ul.products li.product a img {
  max-height: 150px;
  width: auto !important;
  margin: 0 auto; }

.woocommerce-result-count {
  padding-right: 10px; }

.woocommerce .products ul, .woocommerce ul.products {
  display: inline-block;
  margin-top: 15px;
  width: 100%; }

.carousel-item .list_items {
  display: none !important; }

.gridlist-toggle {
  float: left; }
  .gridlist-toggle a {
    padding: 0px 10px; }
    .gridlist-toggle a:last-child {
      padding-right: 20px; }
    .gridlist-toggle a:first-child {
      padding-left: 0px; }

ul.products.grid div[itemprop="description"] {
  display: none; }

ul.products.grid hr {
  display: none; }

ul.products.list li.product {
  float: none !important;
  width: 100% !important;
  text-align: left !important;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 30px; }

ul.products.list li.product:after {
  content: "";
  display: block;
  clear: both; }

ul.products.list li.product img {
  width: 30.75% !important;
  float: left;
  margin-bottom: 1.5em;
  -webkit-transition: none !important;
  margin-right: 3.8% !important; }

ul.products.list li.product h3,
ul.products.list li.product div[itemprop="description"],
ul.products.list li.product .price,
ul.products.list li.product .gridlist-buttonwrap {
  width: 65.4%;
  float: right;
  clear: none; }

ul.products.list li.product div[itemprop="description"] {
  display: block; }

ul.products.list li.product .star-rating {
  margin: 0 0 1em; }

ul.products.list li.product .gridlist-buttonwrap {
  margin-bottom: 1.5em; }

ul.products.list li.product hr {
  clear: both; }

.list .product_cat_image {
  width: 150px;
  height: 150px;
  max-width: 150px;
  min-height: 150px;
  text-align: left;
  float: left; }

ul.products .shop_attributes {
  display: none; }

.list_items {
  display: none; }

.list .in-stock {
  color: #1ad41a;
  border: 1px solid #1ad41a;
  width: auto;
  display: inline-block;
  padding: 2px 10px; }
.list .out-of-stock {
  color: #d41a1a;
  border: 1px solid #d41a1a;
  width: auto;
  display: inline-block;
  padding: 2px 10px; }
.list .list_b {
  text-align: right; }
.list h2 {
  margin-left: 15px !important;
  display: inline; }
.list .grid_info {
  display: none; }
.list .shop_attributes {
  display: block !important; }
.list button {
  border: 0px !important;
  background: #000000 !important;
  color: #fff !important;
  padding: 14px 32px !important;
  margin-top: 30px !important;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0px !important;
  float: right;
  margin: 0px !important; }

.col-1, .col-2 {
  width: 50%;
  max-width: 50%; }

.woocommerce form .form-row label {
  width: 100%; }

.woocommerce .info, .woocommerce-error, .woocommerce-info, .woocommerce-message {
  border-top-color: #1e85be;
  margin-top: 30px;
  color: white;
  background: black;
  border: 0px; }

.woocommerce .info a, .woocommerce-error a, .woocommerce-info a, .woocommerce-message a {
  color: #fff; }

#order_review_heading {
  margin-top: 30px; }

.woocommerce-cart-form {
  margin-top: 30px; }

.woocommerce .a {
  color: #fff; }

.woocommerce-info::before {
  color: #ffffff; }

.woocommerce-input-wrapper {
  width: 100%; }

@media only screen and (max-width: 1024px) {
  .user_menu {
    background: #000;
    padding: 15px 0 10px 0;
    margin: 20px 0 -15px 0;
    max-width: 100%;
    width: 100%;
    flex: 100%; }

  .user-menu-box {
    left: 0;
    width: fit-content; }

  .user-menu-box:before {
    content: '';
    background: #efefef;
    position: absolute;
    top: -10px;
    left: 40%;
    width: 20px;
    height: 10px;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }

  .user-cart-box:before {
    content: '';
    background: #efefef;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 10px;
    -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%); }

  .header_search:before {
    content: '';
    background: #efefef;
    position: absolute;
    top: -10px;
    right: 40%;
    width: 20px;
    height: 10px;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }

  .has_sub a {
    pointer-events: all; }

  .nav .row .categorie ul li {
    display: inline-block !important; }
  .nav .row .categorie ul ul {
    margin-top: 0px;
    padding: 0px;
    position: inherit;
    visibility: visible;
    animation: none !important;
    background: none;
    pointer-events: all; }
    .nav .row .categorie ul ul:before {
      display: none; }
    .nav .row .categorie ul ul:after {
      display: none; }
    .nav .row .categorie ul ul li {
      width: 100%;
      display: inline-block;
      border-bottom: 0px; }

  .nav .container {
    margin: 0;
    max-width: 100%; }
  .nav .row {
    height: inherit;
    padding: 15px 0px; }
    .nav .row .categorie ul {
      display: none;
      text-align: inherit;
      padding: 20px 0 0px 0px; }
      .nav .row .categorie ul li {
        display: block;
        padding: 8px 0;
        width: 100%;
        float: none;
        position: relative;
        border-bottom: 1px solid #dadada; }
        .nav .row .categorie ul li:last-child {
          border-bottom: 0px; }
      .nav .row .categorie ul .has_sub:after {
        position: absolute;
        right: 0px;
        top: 8px; }
    .nav .row .branding {
      width: 20%;
      float: left; }

  .services {
    display: none; }

  .hamburger {
    width: 80%;
    float: right;
    padding: 0px 15px;
    cursor: pointer; }
    .hamburger .cheese {
      width: 20px;
      float: right; }
      .hamburger .cheese div {
        width: 20px;
        min-height: 2px;
        background: #000000;
        margin: 3px 0px;
        float: right; }
        .hamburger .cheese div:first-child {
          width: 20px; }
        .hamburger .cheese div:nth-child(2) {
          width: 10px; }
        .hamburger .cheese div:nth-child(3) {
          width: 15px; }

  .user_menu {
    background: black;
    padding: 15px 0px 10px 0px;
    margin: 20px 0px -15px 0px; }
    .user_menu ul {
      width: 80%;
      margin: 0 auto;
      float: inherit; }
      .user_menu ul li {
        fill: white; }

  .cart_icon .count {
    right: 41%; }

  .nav-tabs li {
    margin-right: 15px;
    margin-top: 20px; }

  .carousel-ui {
    list-style: none; }
    .carousel-ui .carousel-item {
      width: 100%;
      margin: 0px -15px;
      transition-duration: 0.4s; }
      .carousel-ui .carousel-item a {
        width: 50%;
        padding: 15px;
        box-sizing: border-box; }

  .list button {
    padding: 14px 22px !important; }

  .list_b {
    text-align: left !important; } }
.more_open {
  background: yellow; }

.widget .more_btn {
  margin: -10px 0px 15px 0px;
  background: #000000;
  color: white;
  padding: 2px 8px;
  display: inline-block;
  cursor: pointer; }

.widget .less_btn {
  margin: -10px 0px 15px 0px;
  background: #000000;
  color: white;
  padding: 2px 8px;
  display: none;
  cursor: pointer; }

.uitgelicht_homepagina .product_image {
  width: 100%;
  height: 140px; }

.uitgelicht_l {
  width: 50%;
  float: left;
  height: 60vh;
  position: relative;
  background-size: cover;
  background-position: center center;
  border-right: 2px solid white; }
  .uitgelicht_l .boxed {
    border-radius: 2px;
    background: #fff;
    display: inline-block;
    padding: 15px;
    position: absolute;
    bottom: 30px;
    left: 30px; }
    .uitgelicht_l .boxed h2 {
      font-size: 1.6em;
      text-transform: uppercase;
      font-style: italic;
      font-weight: bold;
      color: black; }
    .uitgelicht_l .boxed h3 {
      color: #474747;
      font-weight: bold;
      margin-bottom: -6px;
      font-size: 1.3em; }
    .uitgelicht_l .boxed h4 {
      font-size: 1em;
      font-weight: bold;
      margin-top: 10px;
      text-decoration: underline; }

.uitgelicht_r {
  width: 50%;
  float: left;
  height: 60vh;
  position: relative;
  background-size: cover;
  background-position: center center;
  border-left: 2px solid white; }
  .uitgelicht_r .boxed {
    border-radius: 2px;
    background: #fff;
    display: inline-block;
    padding: 15px;
    position: absolute;
    bottom: 30px;
    left: 30px; }
    .uitgelicht_r .boxed h2 {
      font-size: 1.6em;
      text-transform: uppercase;
      font-style: italic;
      font-weight: bold;
      color: black; }
    .uitgelicht_r .boxed h3 {
      color: #474747;
      font-weight: bold;
      margin-bottom: -6px;
      font-size: 1.3em; }
    .uitgelicht_r .boxed h4 {
      font-size: 1em;
      font-weight: bold;
      margin-top: 10px;
      text-decoration: underline; }

@media only screen and (max-width: 766px) {
  .cart_icon .count {
    right: 35%; }

  .nav .row .branding {
    width: 40%;
    float: left; }
  .nav .row .hamburger {
    width: 60%; }

  .user-menu-box:before {
    content: '';
    background: #efefef;
    position: absolute;
    top: -10px;
    left: 42px;
    width: 20px;
    height: 10px;
    -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%); }

  .header_search:before {
    content: '';
    background: #efefef;
    position: absolute;
    top: -10px;
    right: 64px;
    width: 20px;
    height: 10px;
    -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%); } }

/*# sourceMappingURL=style.css.map */
